body 
{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior:smooth;
}
/* styling home page */
.content{
    display: flex;
    flex-direction: column;
}
.navbar ul{
    list-style: none;
    display: flex;
    background-color: #731963;
    height: 5rem;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
}
.logo{
    width: 100px;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
}

.silde_home{
    
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin: 5rem;
    position: relative;
    background-image: url(../image/illustartion/home_slide.png);
    background-repeat: no-repeat;
}
.silde_home h3{
    font-size: 1.5rem;
    color: #ffffff;
    text-align:center;
    margin-top: 25rem;
}
.content h1{
text-align: center;
font-size: 4rem;
gap: 3rem;
}

.news_container h2{
    text-align: center;
   
}
.news{
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 2rem;
} 
.new{
    background-size: cover;
    margin: 5rem;
    background-repeat: no-repeat;
    height: 20rem;
}
#new1{
   
    background-image: url(../image/illustartion/news.png);
}
#new2{
    background-image: url(../image/illustartion/news1.png);
}
#new3{
    background-image: url(../image/illustartion/news2.png);
}
#new4{
    background-image: url(../image/illustartion/news4.png);
}
.new p{
    margin-bottom:0 ;
     display: none;
     text-align:center;
     font-size: medium;
     color: white;
    background-color: #F0E100;
    }
.new:hover p{
     display: block; 
    }

.Events{
    text-align: center;
    gap: 2rem;
}

.Events_title{  
    text-align: left;
    font-size: 1rem;
    /* position: absolute; */
    width: 70%; 
    height: 2.5rem;
    left: 0px;
    background-color: #F0E100;
    border-radius: 0px 90px 10px 0px;

}
.coming_soon,.last_events{
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin: 10rem;
    position: relative;
    display: flex;
    background-repeat: no-repeat;
    gap: 3rem;
}


/* style about page */
.univ_outside{
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin: 5rem;
    position: relative;
    background-repeat: no-repeat;
}
.staffs{
    display: flex;
    justify-content: center;
    justify-items: center;
    gap: 5rem;
    position: relative;
    background-repeat: no-repeat;
}

.staff{
   width: 12rem;
}
.staff_container{
   
  text-align: center;
  
}
/* style footer */

.footer {
    position: flex;
    background: #CBD2D0;
    display: flex;
    align-items: center;
    height: 154px;
}
footer{ 
    text-align: center;
    justify-content: center;
    position: flex;
    width:100%;
    background: #CBD2D0;
    height: fit-content;



}
.social-media{
    justify-content:center;
    color: white;
    display: flex;
    align-items: center;
    padding: 1rem 0;
    gap: 1rem;
}
footer p {font-family: 'Tajawal';
    justify-content: center;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
}

.footer-logo {
    width: 50px;
}

.footer-logo img {
    width: 30px;
}
.footer-logo:first-child img {
    width: 17px;
}

footer p a{
    color: #fff;
    font-size: 14px;
    font-weight: 400;
}