
body 
{
    box-sizing: border-box;

}
*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior:smooth;
}
/* styling home page */
.navbar ul{
    list-style: none;
    display: flex;
    background-color: #731963;
    height: 5rem;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
}
.logo{
    width: 100px;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
}
.content{
    display: flex;
}
.silde_home{
    display: flex;
    background-image: url(../image/illustartion/home_slide.png);
    background-repeat: no-repeat;
    width: 90%;
    height: 556px;
    left: 5%;
    position: relative;
    top: 5rem;
    flex-direction: column;
    /* Justify-content: center; */

}
.silde_home h3{
    font-size: 1.5rem;
    color: #ffffff;
    text-align:center;
    margin-top: 25rem;
}
