
body 
{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior:smooth;
}
/* styling home page */
.content{
    display: flex;
    flex-direction: column;
}
.navbar ul{
    list-style: none;
    display: flex;
    background-color: #731963;
    height: 5rem;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
}
.logo{
    width: 100px;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
}

.silde_home{
    
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin: 5rem;
    position: relative;
    display: flex;
    background-image: url(../image/illustartion/home_slide.png);
    background-repeat: no-repeat;
}
.silde_home h3{
    font-size: 1.5rem;
    color: #ffffff;
    text-align:center;
    margin-top: 25rem;
}
.content h1{
text-align: center;
font-size: 4rem;
gap: 3rem;
}


.container{
     display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 5rem;
}
.news{
    display: flex;
    text-align: center;
}

.img-news{
    text-align: center;
    width: 80%;
}
.Events{
    text-align: center;
    gap: 2rem;
}

.Events_title{  
    text-align: left;
    font-size: 1rem;
    /* position: absolute; */
    width: 70%; 
    height: 2.5rem;
    left: 0px;
    background-color: #F0E100;
    border-radius: 0px 90px 10px 0px;

}
.coming_soon,.last_events{
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin: 10rem;
    position: relative;
    display: flex;
    background-repeat: no-repeat;
    gap: 3rem;
}
.news1{
    display: grid;
    justify-content: center;
}
.news1 img{
    z-index: 1;
     position: relative; 
    margin-right: 10px;
   }
.news1 p{
    /* position: absolute; */
    z-index: 5;
    bottom: -10rem;
    right: 0;
    background:rgb(228, 190, 23);
    color: white;
    /* margin-bottom: 5px; */
    font-family: sans-serif;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: visibility 0s, opacity 0.5s linear; 
    transition: visibility 0s, opacity 0.5s linear;
    gap: 5rem;
   }
.news1 img{
    cursor: pointer;
}

.news1 img :hover p{
    width: 80%;
    text-align: center;
    ;
    /* padding: 8px 15px; */
    visibility: visible;
    opacity: 0.7; 
   }
   
/* style footer */

.footer {
    position: flex;
    background: #CBD2D0;
    display: flex;
    align-items: center;
    height: 154px;
}
footer{ 
    text-align: center;
    justify-content: center;
    position: flex;
    width:100%;
    background: #CBD2D0;
    height: fit-content;



}
.social-media{
    justify-content:center;
    color: white;
    display: flex;
    align-items: center;
    padding: 1rem 0;
    gap: 1rem;
}
footer p {font-family: 'Tajawal';
    justify-content: center;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
}

.footer-logo {
    width: 50px;
}

.footer-logo img {
    width: 30px;
}
.footer-logo:first-child img {
    width: 17px;
}

footer p a{
    color: #fff;
    font-size: 14px;
    font-weight: 400;
}